<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="title">Other Treatments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="text-align:center;" *ngIf="remarks != 'success' ">
    <h5>No history found!</h5>
  </div>
  <ion-card *ngFor="let pet of pets">
    <div class="type-col" >
      <ion-grid>
        <ion-row>
          <ion-col>Medicine Name</ion-col>
          <ion-col>Pet Weight</ion-col>
          <ion-col>Date</ion-col>
        </ion-row>
      </ion-grid>
    </div>
  
    <div class="time-date">
      <ion-grid>
        <ion-row>
          <ion-col>{{pet.name_of_medicine}}</ion-col>
          <ion-col size="auto">{{pet.pet_weight}}</ion-col>
          <ion-col size="auto">{{pet.app_date}}</ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-card>
</ion-content>
