<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="flex-center">
    <img src="./assets/icon/aclogo01.png" width="80%"/>
  </div>

  <div class="details"> 
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>CLIENT'S INFORMATION</ion-card-subtitle>
      </ion-card-header>
  
      <ion-item lines="none">
        <ion-input placeholder="Full Name" type="text" color="medium" required></ion-input>
      </ion-item>
      
      <ion-item lines="none">
        <ion-input placeholder="Email" type="email" color="medium" required></ion-input>
      </ion-item>       

      <ion-item lines="none">
        <ion-input placeholder="Contact Number" type="tel" color="medium" required></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-input placeholder="Address" type="text" color="medium" required></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-input placeholder="Password" type="password" color="medium" required></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-input placeholder="Confirm Password" type="password" color="medium" required></ion-input>
      </ion-item>
    </ion-card>   
  </div>

  <div class="details">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>PET'S INFORMATION</ion-card-subtitle>
      </ion-card-header>
      
      <ion-item lines="none" >
        <ion-input placeholder="Name" type="text" color="medium" required></ion-input>
      </ion-item>

      <ion-item lines="none" >
        <ion-input placeholder="Color/Markings" type="text" color="medium" required></ion-input>
      </ion-item>

      <ion-item lines="none" >
        <ion-input placeholder="Breed" type="text" color="medium" required></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label>Birthdate</ion-label>
        <ion-input color="medium" value="{{ date | date: 'dd-MMM-YYYY' }}" id="date" class="ion-text-end"></ion-input>
          <ion-popover trigger="date" size="auto" side="top" alignment="center">
            <ng-template>
              <ion-datetime presentation="date" [(ngModel)]="date"></ion-datetime>
            </ng-template>
         </ion-popover>
      </ion-item>

      <ion-item lines="none">
        <ion-label required>Gender</ion-label>
        <ion-select interface="popover">
          <ion-select-option value="Female">Female</ion-select-option>
          <ion-select-option value="Male">Male</ion-select-option>            
        </ion-select>
      </ion-item>
    </ion-card>

    <ion-row>
      <ion-col>
        <span class="divider line"><ion-button [routerLink]="['/home']"type="submit" class="signup-btn">Sign Up</ion-button></span>
      </ion-col>
    </ion-row>
  </div>
  
</ion-content>