<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="title">Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="flex-center">
    <img src="./assets/icon/aclogo01.png" width="80%"/>
  </div>

  <div class="details"> 
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>CLIENT'S INFORMATION</ion-card-subtitle>
      </ion-card-header>
  
      <ion-item lines="none">
        <ion-input [(ngModel)]="fName" name="fName" placeholder="First Name" type="text" color="dark" required></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-input [(ngModel)]="lName" name="lName" placeholder="Last Name" type="text" color="dark" required></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-input [(ngModel)]="Email" name="Email" placeholder="Email" type="email" color="dark" required></ion-input>
      </ion-item>       

      <ion-item lines="none">
        <ion-input [(ngModel)]="Contact" name="Contact" placeholder="Contact Number" type="number" color="dark" required></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-input [(ngModel)]="Address" name="Address" placeholder="Address" type="text" color="dark" required></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-input [(ngModel)]="Password" name="Password" placeholder="Password" type="password" color="dark" required></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-input [(ngModel)]="Confirm" name="Confirm" placeholder="Confirm Password" type="password" color="dark" required></ion-input>
      </ion-item>
      
      <ion-card-content class="ion-text-center">
        <ion-label *ngIf="Password != Confirm" >Password does not match</ion-label>
      </ion-card-content>
    </ion-card>   
  </div>

  <ion-row>
    <ion-col>
      <span class="divider line"><ion-button (click)="registerUser()" type="submit" class="signup-btn">Sign Up</ion-button></span>
    </ion-col>
  </ion-row>
  
</ion-content>