ion-toolbar {
    --background: #F3E3CD;
    --min-height: 5px;
    --padding-top: 10px;
    --padding-bottom: 5px;

    ion-title {
        font-size: small;
    }
}

.flex-center {
    height: 30%;
    margin-bottom: -20px;
}

.details {
    display: block;
    justify-content: center;
    margin-top: 5%;

    ion-item {
        --background: #F4F4F4;
        border-radius: 10px;
        box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
        margin: 5px;

        ion-input {
            font-family: 'Times New Roman', Times, serif;
            font-size: 14px;
        }

        ion-label {
            font-family: 'Times New Roman', Times, serif;
            font-size: 14px;
            color: rgb(203, 203, 203);

        }

    }

    ion-card-subtitle {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }
}

.divider {
    display: flex;
    
    &:before,
    &:after {
      content: "";
      flex: 1;
    }
}
  
.line {
    align-items: center;
    margin-top: 2px;
}

.signup-btn {
    --background: #BF622A;
    --background-hover: #eb752c;
    --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
}