<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Heart Worm Prevention</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="text-align:center;" *ngIf="pets == null">
    <h5>No history found!</h5>
  </div>
  <ion-card *ngFor="let pet of pets">
    <div class="type-col">
      <ion-grid>
        <ion-row>
          <ion-col>Name</ion-col>
          <ion-col>Status</ion-col>
          <ion-col>Date</ion-col>
        </ion-row>
      </ion-grid>
    </div>
  
    <div class="time-date">
      <ion-grid>
        <ion-row>
          <ion-col>{{pet.pet_name}}</ion-col>
          <ion-col size="auto">{{pet.status}}</ion-col>
          <ion-col size="auto">{{pet.app_date}}</ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-card>
</ion-content>
