<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="title">Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="flex-center">
    <img src="./assets/icon/aclogo01.png" width="80%"/>
  </div>

  <ion-card>
    <ion-card-content>
      <ion-item lines="full">
        <ion-label position="floating">Email</ion-label>
        <ion-input placeholder="Enter email address" color="light" type="email" required></ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button type="submit" expand="block">Send</ion-button>
        </ion-col>
      </ion-row>

      <p>
        Please provide the email address that you used during account creation.
      </p>
    </ion-card-content>
  </ion-card>
  
</ion-content>