<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Deworming</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="type-col">
      <ion-grid>
        <ion-row>
          <ion-col>Name</ion-col>
          <ion-col>Weight</ion-col>
          <ion-col>Date</ion-col>
        </ion-row>
      </ion-grid>
    </div>
  
    <div class="time-date">
      <ion-grid>
        <ion-row>
          <ion-col>Nobivac</ion-col>
          <ion-col size="auto">6.3kg</ion-col>
          <ion-col size="auto">29 Aug 2022</ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-card>
</ion-content>
