<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="title">Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

   <div class="flex-center">
    <img src="./assets/icon/aclogo01.png" width="80%"/>
  </div>

  <ion-card>
    <ion-item lines="full">
      <ion-input placeholder="Current Password" color="dark" type="password" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-input placeholder="New Password" color="dark" type="password" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-input placeholder="Retype New Password" color="dark" type="password" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" expand="block">Update</ion-button>
        <ion-button [routerLink]="['/editprofile']" expand="block">Cancel</ion-button>
      </ion-col>
    </ion-row>
  </ion-card>
  
</ion-content>