ion-content {
    --overflow: hidden;
}

.flex-center {
    height: 30%;
    margin-bottom: -20px;
}

ion-item {
    border-radius: 10px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    margin: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.divider {
    display: flex;
    
    &:before,
    &:after {
      content: "";
      flex: 1;
    }
}
  
.line {
    align-items: center;
    margin: 1em -1em;
}
  
.login-btn {
    --background: #D1C770;
    --background-hover: #b9b163;
    --background-activated: #b9b163;
    --background-focused: #b9b163;
    --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
}

.forgot {
    display: block;
    text-align: center;
    padding-bottom: 10px;
}