<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="flex-center">
    <!-- <ion-card> -->
      <img src="./assets/icon/aclogo01.png" width="80%"/>
  </div>

  <div class="center">
    <ion-card-content>
      <ion-item lines="none">
        <ion-input placeholder="Username or Email" type="text" color="medium"></ion-input>
      </ion-item>
  
      <ion-item lines="none">
        <ion-input placeholder="Password" type="password" color="medium" required></ion-input>
      </ion-item>

      <ion-grid>
        <ion-row>
          <ion-col>
            <span class="divider line"><ion-button type="submit" class="login-btn">Login</ion-button></span>
            <span class="forgot"><a [routerLink]="['/forgotpw']" class="small-text">Forgot Password?</a></span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
    <!-- </ion-card> -->
  </div>
</ion-content>