<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="flex-center">
    <img src="./assets/icon/aclogo01.png" width="80%"/>
  </div>

  <div class="center">
    <ion-card-content>
      <ion-item lines="none">
        <ion-input placeholder="Email" type="email" color="medium" [(ngModel)]="email" name="email" ></ion-input>
      </ion-item>
  
      <ion-item lines="none">
        <ion-input placeholder="Password" type="password" color="medium" [(ngModel)]="password" name="password" required></ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <span class="divider line"><ion-button type="submit" class="login-btn" (click)="login()">Login</ion-button></span>
          <span class="forgot"><a [routerLink]="['/forgotpw']" class="small-text">Forgot Password?</a></span>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </div>
</ion-content>