<ion-header>
  <ion-toolbar>
    <ion-title slot="start">My Account</ion-title>
    <ion-icon slot="end" class="logout" [routerLink]="['/login']" name="log-out-outline"></ion-icon> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="flex-center">
    <img src="./assets/icon/profile.jpg" width="80%"/>
  </div>

  <div class="user-profile ion-text-center">
    <h3 class="user-name">Mirasol D. Francisco</h3>
    <ion-icon class="edit" [routerLink]="['/']" name="create-outline"></ion-icon>
  </div>
  

  <ion-segment [(ngModel)]="account" scrollable>
    <ion-segment-button value="details">
      <ion-label>My Profile</ion-label>
      <ion-icon name="person-circle"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="pets">
      <ion-label>My Pets</ion-label>
      <ion-icon name="paw"></ion-icon>
    </ion-segment-button>
  </ion-segment>
  

  <div [ngSwitch]="account">
    <ion-card *ngSwitchCase="'details'">

      <ion-card-content>
        <p>Birthday: </p>
        <p>Color/Markings:</p>
        <p>Gender: </p>
        <p>Breed: </p>
        <p>Species: </p>
      </ion-card-content>

    </ion-card>

    <ion-card *ngSwitchCase="'pets'">
      <div class="pet-info">
        <ion-list>
            <ion-item button detail="true" [routerLink]="['/details']" lines="none" color="light">
              <ion-label>Akio</ion-label>
            </ion-item>

            <ion-item button detail="true" [routerLink]="['/details']" lines="none" color="light">
              <ion-label>Nazi</ion-label>
            </ion-item>
<!-- 
            <div class="add-btn"> -->
              <ion-fab>
                <ion-fab-button size="small">
                  <ion-icon name="add"></ion-icon>
                </ion-fab-button>
              </ion-fab>
            <!-- </div> -->
        </ion-list>
      </div>

      
    </ion-card>
  </div>