ion-toolbar {
    --background: #F3E3CD;
    --min-height: 5px;
    --padding-top: 10px;
    --padding-bottom: 5px;
    
    ion-title {
        font-size: medium;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
    }

    .logout {
        color: black;
        font-size: 150%;
        margin-right: 10px;
        margin-bottom: 10px;
    }
}

.flex-center {
    margin: 15px 0px 10px;

    img {
        border-radius: 50%;
    }
}

// USER PROFILE INFO
.user-profile {
    .user-name {
        font-size: 20px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        color: #144D2F;
        margin-bottom: 25px;
    }

    .edit {
        font-size: 25px;
        color: #000000;
        margin-bottom: 14px;
    }
}

//  PROFILE, PETS, SCHEDULE
ion-segment {
    --background: #F3E3CD;
    margin-bottom: 10px;

    ion-segment-button {
        --indicator-color: #BF622A;
    }
      
    /* Material Design styles */
    ion-segment-button.md {
    --color: #000000;
    --color-checked: #BF622A;
    --indicator-height: 2px;
    }
    
    /* iOS styles */
    ion-segment-button.ios {
    --color: #BF622A;
    --color-checked: #F3E3CD;
    --border-radius: 20px;
    }
}

// USER DETAILS/INFO
.user-info {
    ion-card.md {
        margin-bottom: 10%;
    }
    ion-item {
        --background: transparent;

        ion-label {
            font-family: Arial, Helvetica, sans-serif;
        }
    }
}

// EXISTING PETS PROFILE
ion-list {
    --ion-item-background: transparent;

    ion-item.md {
        margin: 1px;
        box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
        border-radius: 10px;
    }

    ion-item.ios {
        margin: 6px;
        box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
        border-radius: 10px;
    }

    ion-item:hover {
        opacity: 95%;
        box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
    }

    ion-avatar {
        width: 35px;
        height: 35px;
    }

    ion-label {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        padding-left: 10px;
    }
}

// ADDING NEW PETS
.add-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    --cursor: pointer;
    margin: 15px 0px 10px;

    ion-button {
        --background: #BF622A;
        --background-hover: #eb752c;
        --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
        --border-radius: 15px;
        --color: #F4F4F4;
    }
      
    ion-button:hover {
        opacity: 80%;
        --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
        --color: #000000;
    }
}

.modal-pet {
    ion-modal.ios {
        --height: 60%;
        --width: 95%;
        --border-radius: 15px;
        --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    }
    
    ion-modal.md {
        --height: 65%;
        --width: 95%;
        --border-radius: 15px;
        --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    
        h6 {
            margin-left: 10px;
        }
    }

    ion-toolbar {
    --background: #BF622A;
    --color: #F3E3CD;
    }

    ion-button {
        --background: #F3E3CD;
        --color: #000000;
    }

    ion-modal::part(backdrop) {
        --background: rgba(209, 213, 219);
        opacity: 3;
    }
}  

.addpet-info {
    ion-item {
        ion-input {
            font-family: 'Times New Roman', Times, serif;
            font-size: 14px;
        }

        ion-label {
            font-family: 'Times New Roman', Times, serif;
            font-size: 14px;
            color: rgb(121, 121, 121);
        }
    }
}

// SETTING AN APPOINTMENT
.addsched-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    --cursor: pointer;
    margin: 15px 0px 10px;

    ion-button {
        --background: #BF622A;
        --background-hover: #eb752c;
        --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
        --border-radius: 15px;
        --color: #F4F4F4;
        font-size: 12px;
    }
      
    ion-button:hover {
        opacity: 80%;
        --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
        --color: #000000;
    }
}

.modal-sched {
    ion-modal.ios {
        --height: 60%;
        --width: 95%;
        --border-radius: 15px;
        --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    }
    
    ion-modal.md {
        --height: 65%;
        --width: 95%;
        --border-radius: 15px;
        --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    }

    ion-toolbar {
        --background: #BF622A;
        --color: #F3E3CD;
    }

    ion-button {
        --color: #F3E3CD;
    }

    ion-button:hover {
        --color: #000000;
    }
}

.sched-form {
    ion-item.md {
        margin: 10px;
    }

    ion-item {
        margin: 20px;

        ion-input {
            font-family: 'Times New Roman', Times, serif;
            font-size: 15px;
        }

        ion-label {
            font-family: 'Times New Roman', Times, serif;
            font-size: 14px;
            color: rgb(121, 121, 121);
        }

        ion-select {
            font-size: 14px;
            font-family: 'Times New Roman', Times, serif;
        }
    }
}

// DATE
.date {
    ion-accordion {
        background: transparent;
        --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
        font-size: 10px;
    } 

    ion-note {
        font-size: 8px;
        font-family: 'Times New Roman', Times, serif;
    }
}
    
// SCHEDULE
.appointment {
    background: transparent;

    ion-list {
        --background-color: #ffffff;
    }
    
    ion-item.md {
        margin: 10px;
        box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
        border-radius: 10px;
    }

    ion-item.ios {
        margin: 6px;
        box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
        border-radius: 10px;
    }

    ion-item:hover {
        opacity: 95%;
        box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
    }
    
    ion-label {
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(121, 121, 121);
        margin-left: -11px;
    }

    ion-icon {
        font-size: 20px;
    }
}

// ACCEPT AND CANCEL ICONS
.accept-btn:hover {
    color: #BF622A;
}

.cancel-btn.md {
    margin-right: -8px;
    margin-left: 8px;
}
.cancel-btn.ios {
    margin-right: -2px;
    margin-left: 2px;
}

.cancel-btn:hover {
    color: #BF622A;
}

// STATUS
.status {
    font-size: 10px;
    margin-right: 2px;
    margin-left: 8px;
    color: #BF622A;
}



// ooi@gmail.com