ion-toolbar {
    --background: #F3E3CD;
    --min-height: 5px;
    --padding-top: 10px;
    --padding-bottom: 5px;
    
    ion-title {
        font-size: medium;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
    }

    .logout {
        color: black;
        font-size: 150%;
        margin-right: 10px;
        margin-bottom: 10px;
    }
}

.flex-center {
    margin: 15px 0px 10px;

    img {
        border-radius: 50%;
    }
}

.user-profile {
    .user-name {
        font-size: 20px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        color: #144D2F;
        margin-bottom: 25px;
    }

    .edit {
        font-size: 25px;
        color: #000000;
        margin-bottom: 14px;
    }
}

ion-segment {
    --background: #F3E3CD;
    margin-bottom: 10px;

    ion-segment-button {
        --indicator-color: #BF622A;
    }
      
    /* Material Design styles */
    ion-segment-button.md {
    --color: #000000;
    --color-checked: #BF622A;
    --indicator-height: 2px;
    }
    
    /* iOS styles */
    ion-segment-button.ios {
    --color: #BF622A;
    --color-checked: #F3E3CD;
    --border-radius: 20px;
    }
}

.user-info {
    ion-card.md {
        margin-bottom: 10%;
    }
    ion-item {
        --background: transparent;

        ion-label {
            font-family: Arial, Helvetica, sans-serif;

        }
    }
}

ion-list {
    --ion-item-background: transparent;

    ion-item {
        margin: 10px;
        box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
        border-radius: 10px;
      }

    ion-item:hover {
        opacity: 95%;
        box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
    }

    ion-label {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        padding-left: 10px;
    }
}

.add-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 15px 0px 10px;
}
  
ion-button {
    --background: #BF622A;
    --background-hover: #eb752c;
    --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
    --border-radius: 15px;
    --color: #F4F4F4;
}
  
ion-button:hover {
    opacity: 80%;
    --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
    --color: #000000;
}

ion-modal.ios {
    --height: 60%;
    --width: 95%;
    --border-radius: 15px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-modal.md {
    --height: 65%;
    --width: 95%;
    --border-radius: 15px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

    h6 {
        margin-left: 10px;
    }
}

ion-modal::part(backdrop) {
    background: rgba(209, 213, 219);
    opacity: 3;
}

ion-modal ion-toolbar {
    --background: #144D2F;
    --color: #F3E3CD;

    ion-button {
        --background: #F3E3CD;
        --color: #000000;
    }
}

.addpet-info {
    ion-item {
        ion-input {
            font-family: 'Times New Roman', Times, serif;
            font-size: 14px;
        }

        ion-label {
            font-family: 'Times New Roman', Times, serif;
            font-size: 14px;
            color: rgb(121, 121, 121);
        }
    }
}

// #144D2F - dark green
// #BF622A - bronze/brown
// #D1C770 - yellow gold
// #F3E3CD - peach
// #F4F4F4 - white
// #000000 - black