.save {
    color: black;
    font-size: 150%;
    margin-right: 10px;
    margin-bottom: 10px;
}

.flex-center {
    margin-top: 20px;

    img {
        border-radius: 50%;
    }
}

.change-btn { 
    --background: #BF622A;
    --background-hover: #eb752c;
    --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
    --border-radius: 15px;
    --color: #F4F4F4;
    --font-size: 10px;
}

.change-btn:hover {
    opacity: 80%;
    --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
    --color: #000000;
}

ion-card {
    ion-item {
        --background: #F4F4F4;
        border-radius: 10px;
        box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
        margin: 5px;

        h3 {
            font-family: 'Times New Roman', Times, serif;
        }

        ion-input {
            font-family: 'Times New Roman', Times, serif;
            font-size: 16px;
        }
    }
}

