/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// App palette
// #144D2F - dark green
// #BF622A - bronze/brown
// #D1C770 - yellow gold
// #F3E3CD - peach
// #F4F4F4 - white
// #000000 - black

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

ion-content {
    --background: linear-gradient(rgba(243, 227, 205, 1) 50%, rgba(209, 199, 112, 1) 100%);
}
  
ion-card {
    background-color: #F3E3CD;
}

.toolbar {
    --background: #F3E3CD;
    --min-height: 5px;
    --padding-top: 10px;
    --padding-bottom: 5px;
    
    .title {
        font-size: small;
        color: #000000;
    }
}


.petinfo {
    --min-height: 5px;
    --padding-top: 10px;
    --padding-bottom: 5px;

    .delete {
        --background: #BF622A;
        --background-hover: #eb752c;
        --background-activated: #eb752c;
        --background-focused: #eb752c;
        --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
        --border-radius: 10px;
        --color: #F4F4F4;
        margin-right: 10px;
        width: 20%;
    } 

    .upload {
        --background: #BF622A;
        --background-hover: #eb752c;
        --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
        --border-radius: 15px;
        --color: #F4F4F4;
        --font-size: 10px;
    }
  
    .upload:hover {
        opacity: 80%;
        --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
        --color: #000000;
    }

    .pet-details {
        ion-item {
            --background: #F4F4F4;
            border-radius: 10px;
            box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
            margin: 5px;
    
            h3 {
                font-family: 'Times New Roman', Times, serif;
            }
    
            ion-input {
                font-family: 'Times New Roman', Times, serif;
                font-size: 16px;
            }
        }
        
        ion-card-subtitle {
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
        }
    }

    .history {
        ion-item {
            --background: #F4F4F4;
            border-radius: 10px;
            box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
            margin: 5px;
        }

        ion-label {
            font-size: 13px;
        }

        ion-card-subtitle {
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
        }
    }
}