<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-button class="delete" size="small" slot="end" (click)="presentAlert()">
      <ion-icon name="trash-outline"></ion-icon>
    </ion-button>
    <ion-buttons slot="end">
      <ion-icon class="save" name="checkmark-outline" (click)="updatePet()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="petinfo">
  <div class="flex-center">
    <img src="./assets/icon/avatar.png" width="50%"/>
  </div>

  <div class="user-profile ion-text-center">
    <ion-button class="upload">Upload Profile Picture</ion-button>
  </div>

  <ion-card class="pet-details" *ngFor="let pet of pets">
    <ion-card-header>
      <ion-card-subtitle>Pet Details</ion-card-subtitle>
    </ion-card-header>

    <ion-item lines="full">
      <ion-label>
        <h3>Name</h3>
        <ion-input value="{{pet.pet_name}}" [(ngModel)]="petname"></ion-input>
      </ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label>
        <h3>Color/Markings</h3>
        <ion-input [readonly]="true">{{pet.pet_cm}}</ion-input>
      </ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label>
        <h3>Breed</h3>
        <ion-input [readonly]="true">{{pet.pet_breed}}</ion-input>
      </ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label>
        <h3>Birthdate</h3>
        <ion-input [readonly]="true">{{pet.birthdate | date: 'dd-MMM-YYYY' }}</ion-input>
      </ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label>
        <h3>Gender</h3>
        <ion-input [readonly]="true">{{pet.gender}}</ion-input>
      </ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label>
        <h3>Species</h3>
        <ion-input [readonly]="true">{{pet.species}}</ion-input>
      </ion-label>
    </ion-item>
  </ion-card>

  <ion-card class="history">
    <ion-card-header>
      <ion-card-subtitle>Health History</ion-card-subtitle>
    </ion-card-header>
      <ion-item button detail="true" (click)="history('/vaccination/')" lines="none">
        <ion-label>Vaccination</ion-label>
      </ion-item>
      <ion-item button detail="true" (click)="history('/deworming/')" lines="none">
        <ion-label>Deworming</ion-label>
      </ion-item>
      <ion-item button detail="true" (click)="history('/heartworm/')" lines="none">
        <ion-label>Heartworm Prevention</ion-label>
      </ion-item>
      <ion-item button detail="true" (click)="history('/treatment/')" lines="none">
        <ion-label>Other Treatments</ion-label>
      </ion-item>
  </ion-card>
</ion-content>