<ion-header>
  <ion-toolbar class="petinfo">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-button class="delete" size="small" slot="end" (click)="presentAlert()">
      <ion-icon name="trash-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="petinfo">
  <div class="flex-center">
    <img src="./assets/icon/avatar.png" width="80%"/>
  </div>

  <div class="user-profile ion-text-center">
    <ion-button class="upload">Upload Profile Picture</ion-button>
  </div>

  <ion-card class="pet-details">
    <ion-card-header>
      <ion-card-subtitle>Pet Details</ion-card-subtitle>
    </ion-card-header>

    <ion-item lines="full">
      <ion-label>
        <h2>Name</h2>
        <p>Akio</p>
      </ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label>
        <h2>Color/Markings</h2>
        <p>Brown</p>
      </ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label>
        <h2>Breed</h2>
        <p>Shih Tzu</p>
      </ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label>
        <h2>Birthdate</h2>
        <p>03-Jul-2021</p>
      </ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label>
        <h2>Gender</h2>
        <p>Male</p>
      </ion-label>
    </ion-item>
  </ion-card>

  <ion-card class="history">
    <ion-card-header>
      <ion-card-subtitle>Health History</ion-card-subtitle>
    </ion-card-header>
      <ion-item button detail="true" [routerLink]="['/vaccination']" lines="none" color="light">
        <ion-label>Vaccination</ion-label>
      </ion-item>
      <ion-item button detail="true" [routerLink]="['/deworming']" lines="none" color="light">
        <ion-label>Deworming</ion-label>
      </ion-item>
      <ion-item button detail="true" [routerLink]="['/heartworm']" lines="none" color="light">
        <ion-label>Heart Worm Prevention</ion-label>
      </ion-item>
  </ion-card>
</ion-content>