<!-- <ion-header>
  <ion-toolbar>
    <img src="./assets/icon/aclogo01.png"/>
  </ion-toolbar>
</ion-header> -->

<ion-content class="auth-form">
  <div class="flex-center">
    <ion-card class="home">
      <img src="./assets/icon/aclogo01.png"/>
       
        <ion-grid>
          <ion-row>
            <ion-col align-self-center>
              <ion-button [routerLink]="['/signup']" expand="block" color="primary">Sign Up</ion-button>

              <span class="divider line one-line">or</span>

              <span class="already">Already have an account?</span>

              <ion-button [routerLink]="['/login']" expand="block" color="danger">Login</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
    </ion-card>
  </div>
</ion-content>