<!-- <ion-header>
  <ion-toolbar>
    <img src="./assets/icon/aclogo01.png"/>
  </ion-toolbar>
</ion-header> -->

<ion-content class="auth-form">
  <div class="flex-center">  
    <img src="./assets/icon/aclogo01.png" width="90%"/>
  </div>

  <div class="center">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button [routerLink]="['/signup']" expand="block" color="secondary">Sign Up</ion-button>

          <span class="divider line one-line">or</span>
          <span class="already">Already have an account?</span>

          <ion-button [routerLink]="['/login']" expand="block" color="warning" class="login">Login</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>    
</ion-content>